<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ristana.status_video">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.ristana.status_video.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service android:name="com.ristana.status_video.services.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.ristana.status_video.services.NotifFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.ristana.status_video.ui.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ristana.status_video.ui.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.ristana.status_video.ui.CategoryActivity" />
        <activity
            android:name="com.ristana.status_video.ui.VideoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ristana.status_video.ui.PermissionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ristana.status_video.ui.UploadVideoActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.ristana.status_video.ui.LoginActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="com.ristana.status_video.ui.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ristana.status_video.ui.SupportActivity" />
        <activity android:name="com.ristana.status_video.ui.PolicyActivity" />
        <activity android:name="com.ristana.status_video.ui.SettingsActivity" />
        <activity android:name="com.ristana.status_video.ui.SearchActivity" />
        <activity
            android:name="com.ristana.status_video.ui.LanguageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.ristana.status_video.ui.AllCategoryActivity" />
        <activity
            android:name="com.ristana.status_video.ui.UserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.ristana.status_video.ui.EditActivity" />
        <activity
            android:name="com.ristana.status_video.ui.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.ristana.status_video.ui.DownloadsActivity"></activity>
    </application>

</manifest>